:root {
  /* font-family: 'Gruppo' */
  /* paleta 1 */
  --color1-background: #393E46;
  --color1-font-titles: #00adb5;
  --color1-font-text: #aad8d3;
  /* paleta 2 */
  --color2-background: #0d0d0d;
  --color2-font-titles: #d95032;
  --color2-font-text: #f2f2f2;
  /* paleta 3 */
  --color3-background: #010101;
  --color3-font-titles: #a60311;
  --color3-font-text: #abc5cf;
  /* paleta 4 */
  --color4-background: #2180a6;
  --color4-font-titles: #f2f2f2;
  --color4-font-text: #96e0f0;
}

.header {
  padding: 28px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.nav_header {
  margin-right: 60px;
}

.link {
  text-decoration: none;
  color: #ffffffcb;
  margin-right: 20px;
  padding: 4px 12px;
  transition: 100ms;
  border-radius: 16px;
}

.link:hover {
  background-color: #ffd001e0;
  color: rgb(31, 31, 31);
  padding: 8px 12px;
  border-radius: 16px;
  transition: 300ms;
}

.link_logo{
  text-decoration: none;
  color: #ffffffcb;
}

.nav_header {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}