@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,200;1,300;1,500&display=swap');

.App {
  background-color: rgb(31, 31, 31);
  height: 100vh;
  color: #ffffffcb;
}